

/* Reset default margin and padding */
body, h1, h2, ul, li, p {
    margin: 0;
    padding: 0;
}

/* Body background and font styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header styles */
header {
    color: black;
    text-align: center;
    padding: 15px 0;
}

/* Main content styles */
main {
    max-width: 800px; /* Adjust the value to control the width */
    margin: 0 auto;
    padding: 40px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    flex: 1;
    display: contents;
    justify-content: center;
    align-items: center;
  }
/* Day section styles */
.day-schedule {
    margin-bottom: 30px;
}

.day-schedule h2 {
    color: #333;
    margin-bottom: 10px;
}

.day-schedule ul {
    list-style-type: none;
}

.day-schedule li {
    margin-bottom: 8px;
    padding-left: 15px;
    position: relative;
}

/* Footer styles */
footer {
    text-align: center;
    padding: 10px;
    background-color: #ddd;
    flex-shrink: 0;
}

/* Style for the announcement card */
.announcement-card {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Style for the heading */
.announcement-card h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

/* Style for the description */
.announcement-card p {
    font-size: 16px;
    color: #666;
    margin: 0;
}



/* Responsive styles */
@media screen and (max-width: 600px) {
    main {
        padding: 15px;
    }
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');


nav {
    font-family: 'Poppins', sans-serif;
    border-radius: 50px !important;
    padding: 0 40px !important;
    font-size: 12px;
    font-weight: 200;

}

a.nav-link {
    margin: 10px;
    padding: 10px 20px !important;
    color: #3b3b3b;
    border-radius: 50px;
}

a.nav-link:hover {
    color: #888888;
    background: #5e5d5d5b;
}

.navbar-toggler {
    outline: none;
    border: none;
    box-shadow: none;
}

.navbar-toggler:active {
    outline: none;
    border: none;
}

.navbar-toggler:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

.navbar-toggler img {
    transition: width 0.15s ease-in-out;
}

.navbar-toggler.clicked img {
    width: 75px;
}

/* FOOTER */
.footer {
	width: 100%;
	background: #00121b;
	display: block;
 }

 .inner-footer {
	 width: 95%;
	 margin: auto;
	 padding: 30px 10px;
	 display: flex;
	 flex-wrap: wrap;
	 box-sizing: border-box;
	 justify-content: center;
 }

.footer-items {
	width: 25%;
	padding: 10px 20px;
	box-sizing: border-box;
	color: #fff;
}

.footer-items p {
	font-size: 16px;
	text-align: justify;
	line-height: 25px;
	color: #fff;
    margin-right: 5%;
}

.footer-items h1 {
	color: #fff;
}

.border1 {
	height: 3px;
	width: 40px;
	background: #ff9800;
	color: #ff9800;
	background-color: #ff9800;
	border: 0px;
}

ul {
	list-style: none;
	color: #fff;
	font-size: 15px;
	letter-spacing: 0.5px;	
 }

ul a {
	text-decoration: none;
	outline: none;
	color: #fff;
	transition: 0.3s;
}

ul a:hover {
	color: #ff9800;
}

ul li {
	margin: 10px 0;
	/* height: 25px; */
}

li i {
	margin-right: 20px;
}

.social-media {
	width: 100%;
	color: #fff;
	text-align: center;
	font-size: 20px;
}

.social-media a {
	text-decoration: none;
}

.social-media i {
	height: 25px;
	width: 25px;
	margin: 20px 10px;
	padding: 4px;
	color: #fff;
	transition: 0.5s;
}

.social-media i:hover {
	transform: scale(1.5);
}

.footer-bottom {
	padding: 10px;
	background: #00121b;
	color: #fff;
	font-size: 12px;
	text-align: center;
}

/* for tablet mode view */

@media screen and (max-width: 1275px) {
	.footer-items {
		width: 50%;
	}
}

/* for mobile screen view */

@media screen and (max-width: 660px) {
	.footer-items {
		width: 100%;
	}
}
