.intro-container {
    width: 100%;
    height: 100vh;
    position: relative;
}

.intro-container .intro-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    filter: brightness(40%);
}

.intro-item {
    width: 100%;
    height: 100%;
    color: #fff;
    z-index: 1;
    position: absolute;
}

.bsides-nav {
    width: 100%;
    height: 90px;
    color: #fff;
    align-items: center;
    position: fixed;
    justify-content: space-around;
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.bsides-nav a {
    color: #fff;
    text-decoration: none;
}

.intro-banner {
    width: 100%;
    height: calc(100vh - 80px);
    margin-top: 80px;
}

.bj-text {
    color: #fff;
    font-size: 70px;
    letter-spacing: 10px;
    text-transform: uppercase;
    font-family: "Mokoto";
    margin-top: -200px;
}

.bj-edition-text {
    color: #fff;
    font-size: 25px;
    font-family: Gravity-Regular;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.about-bsides {
    width: 100%;
    height: 70vh;
}

.bsides-about-img,
.bsides-about-text {
    width: 50%;
    height: 100%;
}

.bsides-about-img img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.bsides-about-text .about-text-item {
    width: 70%;
    text-align: center;
    font-size: 22px;
    font-family: "IBMPlexSerif", sans-serif;
}





.bsides-counter {
    width: 100%;
    height: fit-content;
    padding: 50px 0;
    background-color: #0E0E10;
}

.bsides-header {
    width: 60%;
    text-align: center;
}

.bsides-description {
    margin-top: 20px;
    font-family: Gravity-Regular;
}


.bsides-kontact {
    width: 100%;
    height: 70vh;
    background-image: url("../img/albert-hall-museum-g575ebe314_1920.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.kontact-item {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.71);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.kontact-social,
.kontact-email {
    width: 100%;
    height: 50%;
}

.socialBanner {
    width: 100%;
    height: 100%;
}

.socialbanner-item {
    width: 50%;
    justify-content: space-around;
}

.icons {
    margin: 7px 0;
}

.icons a {
    color: #fff;
    font-weight: 900;
    font-size: 20px;
    text-decoration: none;
}

.icon-text {
    margin-left: 30px;
}

.kontact-email-item {
    width: 70%;
    height: 50%;
    align-items: center;
    justify-content: space-between;
}


.kontact-email-header {
    align-items: center;
    font-size: 35px;
    font-family: Gravity-Bold;
}

.email-header-txt {
    padding-left: 20px;
}

.email-rows {
    width: 100%;
    justify-content: space-between;
}

.kontact-email-item a {
    color: #fff;
    padding-left: 20px;
    font-size: 20px;
    text-decoration: underline;
}

@media screen and (max-width: 428px) {
    .bsides-nav a {
        display: none;
    }

    .bj-text {
        font-size: 50px;
        text-align: center;
    }

    .bj-edition-text {
        font-size: 20px;
    }

    .bsides-about-img {
        display: none;
    }

    .bsides-about-text {
        width: 100%;
    }

    .kontact-email-item {
        justify-content: center;
    }

    .email-rows {
        flex-direction: column;
    }

    .socialbanner-item {
        width: 90%;
    }
}